<div class="article-list">
    <ul class="list-unstyled">
        {% for entity in entities %}
        <li class="media">
            {% if entity.image is not empty %}
                <img style="max-width:220px;" class="mr-3" src="{{ asset('/uploads/' ~ entity.image.path) }}" alt="{{ entity.title }}">
            {% endif %}
            <div class="media-body">
                <a href="{{ path('tutorial_show', {'id': entity.id }) }}" id="titleTutorial" class="mt-0 mb-1">{{ entity.title }}</h5>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>