{% extends 'layout.html.twig' %}
{% block page_class %}{% endblock %}
{% block page_content %}


<!--home-header start -->
<section class="home-header container-fluid">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="header-text">
				<h1 class="animated animatedFadeInUp fadeInUp">WeCanDev <span>,</span><br></h1> 
                <h2 class="animated animatedFadeInDown fadeInDown">le site où on apprend le développement <br> en s'amusant<span>.</span></h2>
			</div><!--/.header-text-->
		</div><!--/.col-->
	</div><!-- /.row-->
</section><!--/.home-header-img--> <!-- /.container-->
<!--home-header end -->		

<!-- start .last-tutorials  -->
<section class="last-tutorials mt-5 mb-5">
    <div class="last-tutorials-title text-center">
        <h2>Derniers tutoriels</h2>
    </div><!-- /.last-tutorials-title-->

    <div class="container-fluid">
        <div class="row d-flex justify-content-between mt-3 mb-3">
            
                {{ render(controller('App\\Controller\\TutorialController::recentTutorials')) }}
        </div><!-- end .row-->
    </div><!-- end .container -->

    <div class="text-center">
            <a href="{{ path('tutorial_index') }}" class="btn btn-secondary">{{ 'tutorial.show_all'|trans }}</a>
    </div>
    
    
</section> <!-- end .last-tutorials  -->

{% endblock %}

{% block javascripts %}
{% endblock %}