{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/front.css') }}">
{% endblock %}

{% block body %}
{% embed 'decorator/_navbar.html.twig' with {'class' : 'fixed-top navbar-dark bg-dark', 'brandUrl' : path('index')} %}
    {% block brand %}
    WeCanDev
    {% endblock %}
{% endembed %}
<div class="container">
{# Affichage des mesages Flash#}
        <div class="flash-message">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}